# WorldBank Global Education Statistics (Data Exploration)

In this notebook we will start by loading the relevant datasets and exploring them. This will involve the steps of understanding the coding, cleaning the data with regard to our purposes and understanding the basic trends inside the data to define our questions and refine our hypothesis.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
# load the data
df_country = pd.read_csv("./datasets/EdStatsCountry.csv")
print(df_country.columns)
df_data = pd.read_csv("./datasets/EdStatsData.csv")
print(df_data.columns)

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [11]:
print(df_country.shape)
df_country.head()

(241, 32)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [13]:
print(df_data.shape)
df_data.describe()

(886930, 70)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
count,7.228800e+04,3.553700e+04,3.561900e+04,3.554500e+04,3.573000e+04,8.730600e+04,3.748300e+04,3.757400e+04,3.757600e+04,3.680900e+04,...,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,5.143600e+04,0.0
mean,1.974772e+09,4.253638e+09,4.592365e+09,5.105006e+09,5.401493e+09,2.314288e+09,5.731808e+09,6.124437e+09,6.671489e+09,7.436724e+09,...,7.224868e+02,7.271290e+02,7.283779e+02,7.266484e+02,7.228327e+02,7.176899e+02,7.113072e+02,7.034274e+02,6.940296e+02,NaN
std,1.211687e+11,1.804814e+11,1.914083e+11,2.059170e+11,2.112150e+11,1.375059e+11,2.215546e+11,2.325489e+11,2.473986e+11,2.660957e+11,...,2.215845e+04,2.287990e+04,2.352338e+04,2.408149e+04,2.455897e+04,2.496587e+04,2.530183e+04,2.556069e+04,2.574189e+04,NaN
min,-1.435564e+00,-1.594625e+00,-3.056522e+00,-4.032582e+00,-4.213563e+00,-3.658569e+00,-2.950945e+00,-3.174870e+00,-3.558749e+00,-2.973612e+00,...,-1.630000e+00,-1.440000e+00,-1.260000e+00,-1.090000e+00,-9.200000e-01,-7.800000e-01,-6.500000e-01,-5.500000e-01,-4.500000e-01,NaN
25%,8.900000e-01,8.853210e+00,9.240920e+00,9.595200e+00,9.861595e+00,1.400000e+00,9.312615e+00,9.519913e+00,1.000000e+01,1.000000e+01,...,3.000000e-02,3.000000e-02,2.000000e-02,2.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,NaN
50%,6.317724e+00,6.316240e+01,6.655139e+01,6.969595e+01,7.087760e+01,9.677420e+00,7.101590e+01,7.133326e+01,7.290512e+01,7.510173e+01,...,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.300000e-01,2.200000e-01,NaN
75%,6.251250e+01,5.655200e+04,5.863650e+04,6.202900e+04,6.383675e+04,7.854163e+01,5.682800e+04,5.739175e+04,5.940425e+04,6.411500e+04,...,7.505000e+00,7.500000e+00,7.300000e+00,7.100000e+00,6.722500e+00,6.080000e+00,5.462500e+00,4.680000e+00,4.032500e+00,NaN
max,1.903929e+13,1.986457e+13,2.100916e+13,2.238367e+13,2.282991e+13,2.300634e+13,2.424128e+13,2.521383e+13,2.622101e+13,2.730873e+13,...,2.951569e+06,3.070879e+06,3.169711e+06,3.246239e+06,3.301586e+06,3.337871e+06,3.354746e+06,3.351887e+06,3.330484e+06,NaN

## Data Structure

From what we can see, we have two main tables (`data` and `country`) that are related to each other. While the

In [17]:
df_data['Indicator Name'].value_counts()

Population of the official entrance age to primary education, male (number)                                                         242
Wittgenstein Projection: Mean years of schooling. Age 40-64. Female                                                                 242
MICS: Proportion of out-of-school. Primary. Urban                                                                                   242
Wittgenstein Projection: Percentage of the total population by highest level of educational attainment. Upper Secondary. Total      242
Barro-Lee: Average years of tertiary schooling, age 40-44, total                                                                    242
MICS: Secondary completion rate. Quintile 5                                                                                         242
Barro-Lee: Average years of total schooling, age 30-34, total                                                                       242
PISA: Distribution of Science Scores: 10th Percentile Score                                                                         242
LLECE: Male 6th grade students by science proficiency level (%). Level 1                                                            242
Barro-Lee: Percentage of population age 50-54 with tertiary schooling. Completed Tertiary                                           242
Pupil-teacher ratio in secondary education (headcount basis)                                                                        242
Out-of-school children of primary school age, percentage female (%)                                                                 242
PASEC: 6th grade students by mathematics proficiency level (%). Below Level 1                                                       242
Barro-Lee: Average years of total schooling, age 15-19, total                                                                       242
Barro-Lee: Average years of primary schooling, age 65-69, total                                                                     242
Barro-Lee: Percentage of population age 35-39 with tertiary schooling. Total (Incomplete and Completed Tertiary)                    242
EGRA: Identification of the Initial Sound of a Spoken Word - Share of students with a zero score (%). Kinyarwanda. 4th Grade        242
TIMSS: Eighth grade students reaching the high international benchmark of mathematics achievement (%)                               242
DHS: Primary completion rate. Urban                                                                                                 242
PIAAC: Female adults by literacy proficiency level (%). Level 4 & 5                                                                 242
Barro-Lee: Percentage of female population age 15+ with secondary schooling. Total (Incomplete and Completed Secondary)             242
Government expenditure per primary student (constant PPP$)                                                                          242
Percentage of female graduates from tertiary education graduating from programmes in unspecified fields, female (%)                 242
Barro-Lee: Average years of primary schooling, age 35-39, female                                                                    242
Gross intake ratio to Grade 1 of lower secondary general education, both sexes (%)                                                  242
PASEC: Percentage of 2nd grade students correcting answering the subtraction problem: 34-11                                         242
Barro-Lee: Average years of total schooling, age 40-44, total                                                                       242
Africa Dataset: Average size of single grade classes in Grade 7 of primary schools (number of pupils)                               242
Wittgenstein Projection: Mean years of schooling. Age 40-64. Total                                                                  242
Barro-Lee: Percentage of female population age 20-24 with secondary schooling. Completed Secondary                                  242
                                                                                                                                   ...
EGRA: Reading Comprehension - Share of students scoring at least 80 percent (%). Sidaamu Afoo. 3rd Grade                            242
Africa Dataset: Average number of pupils per reading textbook in Grade 3 of primary education (number)                              242
Barro-Lee: Percentage of female population age 35-39 with tertiary schooling. Total (Incomplete and Completed Tertiary)             242
Wittgenstein Projection: Population age 20-24 in thousands by highest level of educational attainment. Upper Secondary. Male        242
SABER: (Education Management Information Systems) Policy Goal 1 Lever 4: Infrastructural capacity                                   242
Wittgenstein Projection: Percentage of the population age 15+ by highest level of educational attainment. Lower Secondary. Male     242
SACMEQ: 6th grade students by mathematics proficiency level (%). Level 7 - Concrete Problem Solving                                 242
Barro-Lee: Percentage of population age 15+ with tertiary schooling. Total (Incomplete and Completed Tertiary)                      242
PISA: Mean performance on the mathematics scale                                                                                     242
SACMEQ: Mean performance on the mathematics scale, female                                                                           242
EGRA: Identification of the Initial Sound of a Spoken Word - Share of students with a zero score (%). Chichewa. 4th Grade           242
Barro-Lee: Percentage of population age 50-54 with primary schooling. Completed Primary                                             242
EGRA: Correct Isolated Words Read Per Minute (Mean). Bomu. 2nd Grade                                                                242
Percentage of male teachers in primary education who are trained, male (%)                                                          242
Barro-Lee: Average years of tertiary schooling, age 65-69, total                                                                    242
DHS: Average years of schooling by age group. Age 15-19. Quintile 5                                                                 242
EGRA: Oral Reading Fluency - Share of students with a zero score (%). English. 6th Grade                                            242
SACMEQ: Female 6th grade students by reading proficiency level (%). Level 8 - Critical Reading                                      242
Barro-Lee: Percentage of female population age 75+ with no education                                                                242
EGRA: Oral Reading Fluency - Share of students with a zero score (%). Asante Twi. 2nd Grade                                         242
TIMSS: Female 8th grade students reaching the low international benchmark of mathematics achievement (%)                            242
EGRA: Oral Reading Fluency - Correct Words Read Per Minute (Mean). Bamanankan. 2nd Grade                                            242
Barro-Lee: Average years of primary schooling, age 70-74, total                                                                     242
MICS: Typology of out-of-school children. Primary. Dropped out. Male                                                                242
Barro-Lee: Population in thousands, age 25+, total                                                                                  242
PASEC: Distribution of 2nd grade students by last number reached when counting out loud. 0 to 60                                    242
Population, ages 5-10, male                                                                                                         242
UIS: Total net attendance rate, lower secondary, richest quintile, female (%)                                                       242
TIMSS: Fourth grade students reaching the intermediate international benchmark of mathematics achievement (%)                       242
UIS: Percentage of population age 25+ with at least completed upper secondary education (ISCED 3 or higher). Gender Parity Index    242
Name: Indicator Name, Length: 3665, dtype: int64