# Relation of schooling years to education

In this notebook we will analyze the correlation between years of education and the proficiency in certain skills.

First we will load all the data and extract the relevant indicators (see notebook `11` for details):

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
from matplotlib import pyplot as plt
import edstats_utils as edstats
%matplotlib inline

# some pandas options
pd.set_option('display.max_colwidth', -1)

datapath = "./datasets/edstats"
df_country = pd.read_csv(os.path.join(datapath, "EdStatsCountry.csv"))
df_data = pd.read_csv(os.path.join(datapath, "EdStatsData.csv"))
df_series = pd.read_csv(os.path.join(datapath, "EdStatsSeries.csv"))
df_note = pd.read_csv(os.path.join(datapath, "EdStatsFootNote.csv"))
df_cseries = pd.read_csv(os.path.join(datapath, "EdStatsCountry-Series.csv"))

In [2]:
# list of total wittgenstein projection indicators
list_witt_total = edstats.list_indicators('Population in .* highest level .* Total', df_data)
#list_witt_total = ['PRJ.POP.ALL.S1.MF', 'PRJ.POP.ALL.1.MF', 'PRJ.POP.ALL.2.MF', 'PRJ.POP.ALL.3.MF', 'PRJ.POP.ALL.4.MF', 'PRJ.POP.ALL.NED.MF']
list_witt_total

['PRJ.POP.ALL.S1.MF',
 'PRJ.POP.ALL.2.MF',
 'PRJ.POP.ALL.NED.MF',
 'PRJ.POP.ALL.4.MF',
 'PRJ.POP.ALL.1.MF',
 'PRJ.POP.ALL.3.MF']

In [8]:
def _retrieve_indicator(df, reg_str):
    '''Retrieve all datapoints that contain the given indicator regex string.'''
    # retireve list of relevant indicator codes
    ls_inds = df[df['Indicator Name'].str.contains(reg_str, regex=True, case=False)]['Indicator Code'].tolist()
    # extract all relevant items
    return df[df['Indicator Code'].isin(ls_inds)]

In [46]:
#df_barro = _retrieve_indicator(df_data, 'Barro-Lee: Percentage of .*')
    
# split data
df_barro['Indicator Name'].str.extract('Barro-Lee: (?P<indicator>Percentage of[ ]?(?P<gender>female)? population[ ]?(?P<age_group>age [0-9]+(-[0-9]+|\+))? with (?P<schooling>[\s\S]+?)(\. (?P<completed>[\s\S]+))?$)', expand=True)
#df_barro['Indicator Name'].str.extract('Barro-Lee: (?P<indicator>Percentage of[ ]?(?P<gender>female)? population[ ]?(?P<age_group>age [0-9]+(-[0-9]+|\+))? with (?P<schooling>[\s\S]+)\. (?P<completed>[\s\S]+))', expand=True)

,indicator,gender,age_group,3,schooling,5,completed
269,Percentage of female population age 15+ with no education,female,age 15+,+,no education,NaN,NaN
270,Percentage of female population age 15+ with primary schooling. Completed Primary,female,age 15+,+,primary schooling,. Completed Primary,Completed Primary
271,Percentage of female population age 15+ with primary schooling. Total (Incomplete and Completed Primary),female,age 15+,+,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
272,Percentage of female population age 15+ with secondary schooling. Completed Secondary,female,age 15+,+,secondary schooling,. Completed Secondary,Completed Secondary
273,Percentage of female population age 15+ with secondary schooling. Total (Incomplete and Completed Secondary),female,age 15+,+,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
274,Percentage of female population age 15+ with tertiary schooling. Completed Tertiary,female,age 15+,+,tertiary schooling,. Completed Tertiary,Completed Tertiary
275,Percentage of female population age 15+ with tertiary schooling. Total (Incomplete and Completed Tertiary),female,age 15+,+,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
276,Percentage of female population age 15-19 with no education,female,age 15-19,-19,no education,NaN,NaN
277,Percentage of female population age 15-19 with primary schooling. Completed Primary,female,age 15-19,-19,primary schooling,. Completed Primary,Completed Primary
278,Percentage of female population age 15-19 with primary schooling. Total (Incomplete and Completed Primary),female,age 15-19,-19,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
279,Percentage of female population age 15-19 with secondary schooling. Completed Secondary,female,age 15-19,-19,secondary schooling,. Completed Secondary,Completed Secondary
280,Percentage of female population age 15-19 with secondary schooling. Total (Incomplete and Completed Secondary),female,age 15-19,-19,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
281,Percentage of female population age 15-19 with tertiary schooling. Completed Tertiary,female,age 15-19,-19,tertiary schooling,. Completed Tertiary,Completed Tertiary
282,Percentage of female population age 15-19 with tertiary schooling. Total (Incomplete and Completed Tertiary),female,age 15-19,-19,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
283,Percentage of female population age 20-24 with no education,female,age 20-24,-24,no education,NaN,NaN
284,Percentage of female population age 20-24 with primary schooling. Completed Primary,female,age 20-24,-24,primary schooling,. Completed Primary,Completed Primary
285,Percentage of female population age 20-24 with primary schooling. Total (Incomplete and Completed Primary),female,age 20-24,-24,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
286,Percentage of female population age 20-24 with secondary schooling. Completed Secondary,female,age 20-24,-24,secondary schooling,. Completed Secondary,Completed Secondary
287,Percentage of female population age 20-24 with secondary schooling. Total (Incomplete and Completed Secondary),female,age 20-24,-24,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
288,Percentage of female population age 20-24 with tertiary schooling. Completed Tertiary,female,age 20-24,-24,tertiary schooling,. Completed Tertiary,Completed Tertiary
289,Percentage of female population age 20-24 with tertiary schooling. Total (Incomplete and Completed Tertiary),female,age 20-24,-24,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
290,Percentage of female population age 25+ with no education,female,age 25+,+,no education,NaN,NaN
291,Percentage of female population age 25+ with primary schooling. Completed Primary,female,age 25+,+,primary schooling,. Completed Primary,Completed Primary
292,Percentage of female population age 25+ with primary schooling. Total (Incomplete and Completed Primary),female,age 25+,+,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
293,Percentage of female population age 25+ with secondary schooling. Completed Secondary,female,age 25+,+,secondary schooling,. Completed Secondary,Completed Secondary
294,Percentage of female population age 25+ with secondary schooling. Total (Incomplete and Completed Secondary),female,age 25+,+,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
295,Percentage of female population age 25+ with tertiary schooling. Completed Tertiary,female,age 25+,+,tertiary schooling,. Completed Tertiary,Completed Tertiary
296,Percentage of female population age 25+ with tertiary schooling. Total (Incomplete and Completed Tertiary),female,age 25+,+,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
297,Percentage of female population age 25-29 with no education,female,age 25-29,-29,no education,NaN,NaN
298,Percentage of female population age 25-29 with primary schooling. Completed Primary,female,age 25-29,-29,primary schooling,. Completed Primary,Completed Primary
...,...,...,...,...,...,...,...
883714,Percentage of population age 55-59 with tertiary schooling. Completed Tertiary,NaN,age 55-59,-59,tertiary schooling,. Completed Tertiary,Completed Tertiary
883715,Percentage of population age 55-59 with tertiary schooling. Total (Incomplete and Completed Tertiary),NaN,age 55-59,-59,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
883716,Percentage of population age 60-64 with no education,NaN,age 60-64,-64,no education,NaN,NaN
883717,Percentage of population age 60-64 with primary schooling. Completed Primary,NaN,age 60-64,-64,primary schooling,. Completed Primary,Completed Primary
883718,Percentage of population age 60-64 with primary schooling. Total (Incomplete and Completed Primary),NaN,age 60-64,-64,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
883719,Percentage of population age 60-64 with secondary schooling. Completed Secondary,NaN,age 60-64,-64,secondary schooling,. Completed Secondary,Completed Secondary
883720,Percentage of population age 60-64 with secondary schooling. Total (Incomplete and Completed Secondary),NaN,age 60-64,-64,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
883721,Percentage of population age 60-64 with tertiary schooling. Completed Tertiary,NaN,age 60-64,-64,tertiary schooling,. Completed Tertiary,Completed Tertiary
883722,Percentage of population age 60-64 with tertiary schooling. Total (Incomplete and Completed Tertiary),NaN,age 60-64,-64,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
883723,Percentage of population age 65-69 with no education,NaN,age 65-69,-69,no education,NaN,NaN
883724,Percentage of population age 65-69 with primary schooling. Completed Primary,NaN,age 65-69,-69,primary schooling,. Completed Primary,Completed Primary
883725,Percentage of population age 65-69 with primary schooling. Total (Incomplete and Completed Primary),NaN,age 65-69,-69,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
883726,Percentage of population age 65-69 with secondary schooling. Completed Secondary,NaN,age 65-69,-69,secondary schooling,. Completed Secondary,Completed Secondary
883727,Percentage of population age 65-69 with secondary schooling. Total (Incomplete and Completed Secondary),NaN,age 65-69,-69,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
883728,Percentage of population age 65-69 with tertiary schooling. Completed Tertiary,NaN,age 65-69,-69,tertiary schooling,. Completed Tertiary,Completed Tertiary
883729,Percentage of population age 65-69 with tertiary schooling. Total (Incomplete and Completed Tertiary),NaN,age 65-69,-69,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
883730,Percentage of population age 70-74 with no education,NaN,age 70-74,-74,no education,NaN,NaN
883731,Percentage of population age 70-74 with primary schooling. Completed Primary,NaN,age 70-74,-74,primary schooling,. Completed Primary,Completed Primary
883732,Percentage of population age 70-74 with primary schooling. Total (Incomplete and Completed Primary),NaN,age 70-74,-74,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
883733,Percentage of population age 70-74 with secondary schooling. Completed Secondary,NaN,age 70-74,-74,secondary schooling,. Completed Secondary,Completed Secondary
883734,Percentage of population age 70-74 with secondary schooling. Total (Incomplete and Completed Secondary),NaN,age 70-74,-74,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
883735,Percentage of population age 70-74 with tertiary schooling. Completed Tertiary,NaN,age 70-74,-74,tertiary schooling,. Completed Tertiary,Completed Tertiary
883736,Percentage of population age 70-74 with tertiary schooling. Total (Incomplete and Completed Tertiary),NaN,age 70-74,-74,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)
883737,Percentage of population age 75+ with no education,NaN,age 75+,+,no education,NaN,NaN
883738,Percentage of population age 75+ with primary schooling. Completed Primary,NaN,age 75+,+,primary schooling,. Completed Primary,Completed Primary
883739,Percentage of population age 75+ with primary schooling. Total (Incomplete and Completed Primary),NaN,age 75+,+,primary schooling,. Total (Incomplete and Completed Primary),Total (Incomplete and Completed Primary)
883740,Percentage of population age 75+ with secondary schooling. Completed Secondary,NaN,age 75+,+,secondary schooling,. Completed Secondary,Completed Secondary
883741,Percentage of population age 75+ with secondary schooling. Total (Incomplete and Completed Secondary),NaN,age 75+,+,secondary schooling,. Total (Incomplete and Completed Secondary),Total (Incomplete and Completed Secondary)
883742,Percentage of population age 75+ with tertiary schooling. Completed Tertiary,NaN,age 75+,+,tertiary schooling,. Completed Tertiary,Completed Tertiary
883743,Percentage of population age 75+ with tertiary schooling. Total (Incomplete and Completed Tertiary),NaN,age 75+,+,tertiary schooling,. Total (Incomplete and Completed Tertiary),Total (Incomplete and Completed Tertiary)

In [29]:
pd.concat([df_witt, df_witt_groups[['indicator', 'age_group', 'gender']]], axis=1)
#df_witt_groups

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2075,2080,2085,2090,2095,2100,Unnamed: 69,indicator,age_group,gender
3349,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 0-19. Female,PRJ.MYS.0T19.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 0-19. Female,Age 0-19,Female
3350,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 0-19. Male,PRJ.MYS.0T19.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 0-19. Male,Age 0-19,Male
3351,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 0-19. Total,PRJ.MYS.0T19.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 0-19. Total,Age 0-19,Total
3352,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 15+. Female,PRJ.MYS.15UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15+. Female,Age 15+,Female
3353,Arab World,ARB,Wittgenstein Projection: Mean Years of Schooling. Age 15+. Gender Gap,PRJ.MYS.15UP.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean Years of Schooling. Age 15+. Gender Gap,Age 15+,Gender Gap
3354,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 15+. Male,PRJ.MYS.15UP.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15+. Male,Age 15+,Male
3355,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 15+. Total,PRJ.MYS.15UP.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15+. Total,Age 15+,Total
3356,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 15-19. Female,PRJ.MYS.1519.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15-19. Female,Age 15-19,Female
3357,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 15-19. Male,PRJ.MYS.1519.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15-19. Male,Age 15-19,Male
3358,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 15-19. Total,PRJ.MYS.1519.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15-19. Total,Age 15-19,Total
3359,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-24. Female,PRJ.MYS.2024.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-24. Female,Age 20-24,Female
3360,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-24. Male,PRJ.MYS.2024.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-24. Male,Age 20-24,Male
3361,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-24. Total,PRJ.MYS.2024.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-24. Total,Age 20-24,Total
3362,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-39. Female,PRJ.MYS.2039.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-39. Female,Age 20-39,Female
3363,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-39. Male,PRJ.MYS.2039.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-39. Male,Age 20-39,Male
3364,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-39. Total,PRJ.MYS.2039.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-39. Total,Age 20-39,Total
3365,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-64. Female,PRJ.MYS.2064.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-64. Female,Age 20-64,Female
3366,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-64. Male,PRJ.MYS.2064.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-64. Male,Age 20-64,Male
3367,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 20-64. Total,PRJ.MYS.2064.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-64. Total,Age 20-64,Total
3368,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 25+. Female,PRJ.MYS.25UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25+. Female,Age 25+,Female
3369,Arab World,ARB,Wittgenstein Projection: Mean Years of Schooling. Age 25+. Gender Gap,PRJ.MYS.25UP.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean Years of Schooling. Age 25+. Gender Gap,Age 25+,Gender Gap
3370,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 25+. Male,PRJ.MYS.25UP.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25+. Male,Age 25+,Male
3371,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 25+. Total,PRJ.MYS.25UP.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25+. Total,Age 25+,Total
3372,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 25-29. Female,PRJ.MYS.2529.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25-29. Female,Age 25-29,Female
3373,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 25-29. Male,PRJ.MYS.2529.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25-29. Male,Age 25-29,Male
3374,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 25-29. Total,PRJ.MYS.2529.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25-29. Total,Age 25-29,Total
3375,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 40-64. Female,PRJ.MYS.4064.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 40-64. Female,Age 40-64,Female
3376,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 40-64. Male,PRJ.MYS.4064.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 40-64. Male,Age 40-64,Male
3377,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 40-64. Total,PRJ.MYS.4064.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 40-64. Total,Age 40-64,Total
3378,Arab World,ARB,Wittgenstein Projection: Mean years of schooling. Age 60+. Female,PRJ.MYS.60UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 60+. Female,Age 60+,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886622,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 15-19. Male,PRJ.MYS.1519.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,11.00,11.10,11.10,11.20,11.30,11.40,NaN,Mean years of schooling. Age 15-19. Male,Age 15-19,Male
886623,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 15-19. Total,PRJ.MYS.1519.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,11.00,11.10,11.10,11.20,11.30,11.40,NaN,Mean years of schooling. Age 15-19. Total,Age 15-19,Total
886624,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-24. Female,PRJ.MYS.2024.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.00,13.00,13.10,13.20,13.20,13.30,NaN,Mean years of schooling. Age 20-24. Female,Age 20-24,Female
886625,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-24. Male,PRJ.MYS.2024.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.00,13.00,13.10,13.20,13.20,13.30,NaN,Mean years of schooling. Age 20-24. Male,Age 20-24,Male
886626,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-24. Total,PRJ.MYS.2024.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.00,13.00,13.10,13.20,13.20,13.30,NaN,Mean years of schooling. Age 20-24. Total,Age 20-24,Total
886627,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-39. Female,PRJ.MYS.2039.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.80,13.90,14.00,14.10,14.20,NaN,Mean years of schooling. Age 20-39. Female,Age 20-39,Female
886628,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-39. Male,PRJ.MYS.2039.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.80,13.90,14.00,14.10,14.20,NaN,Mean years of schooling. Age 20-39. Male,Age 20-39,Male
886629,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-39. Total,PRJ.MYS.2039.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.80,13.90,14.00,14.10,14.20,NaN,Mean years of schooling. Age 20-39. Total,Age 20-39,Total
886630,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-64. Female,PRJ.MYS.2064.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.90,14.00,14.00,14.10,14.20,NaN,Mean years of schooling. Age 20-64. Female,Age 20-64,Female
886631,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-64. Male,PRJ.MYS.2064.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.90,14.00,14.00,14.10,14.20,NaN,Mean years of schooling. Age 20-64. Male,Age 20-64,Male
886632,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 20-64. Total,PRJ.MYS.2064.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.90,14.00,14.00,14.10,14.20,NaN,Mean years of schooling. Age 20-64. Total,Age 20-64,Total
886633,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 25+. Female,PRJ.MYS.25UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.60,13.70,13.90,14.00,14.10,14.20,NaN,Mean years of schooling. Age 25+. Female,Age 25+,Female
886634,Zimbabwe,ZWE,Wittgenstein Projection: Mean Years of Schooling. Age 25+. Gender Gap,PRJ.MYS.25UP.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,0.16,0.13,0.11,0.09,0.08,0.07,NaN,Mean Years of Schooling. Age 25+. Gender Gap,Age 25+,Gender Gap
886635,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 25+. Male,PRJ.MYS.25UP.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.90,14.00,14.10,14.10,14.20,NaN,Mean years of schooling. Age 25+. Male,Age 25+,Male
886636,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 25+. Total,PRJ.MYS.25UP.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.80,13.90,14.00,14.10,14.20,NaN,Mean years of schooling. Age 25+. Total,Age 25+,Total
886637,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 25-29. Female,PRJ.MYS.2529.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.70,13.80,13.90,14.00,14.10,NaN,Mean years of schooling. Age 25-29. Female,Age 25-29,Female
886638,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 25-29. Male,PRJ.MYS.2529.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.70,13.80,13.90,14.00,14.10,NaN,Mean years of schooling. Age 25-29. Male,Age 25-29,Male
886639,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 25-29. Total,PRJ.MYS.2529.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.70,13.70,13.80,13.90,14.00,14.10,NaN,Mean years of schooling. Age 25-29. Total,Age 25-29,Total
886640,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 40-64. Female,PRJ.MYS.4064.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.90,14.00,14.10,14.20,14.30,NaN,Mean years of schooling. Age 40-64. Female,Age 40-64,Female
886641,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 40-64. Male,PRJ.MYS.4064.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.90,13.90,14.00,14.10,14.20,14.30,NaN,Mean years of schooling. Age 40-64. Male,Age 40-64,Male
886642,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 40-64. Total,PRJ.MYS.4064.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.90,14.00,14.10,14.20,14.30,NaN,Mean years of schooling. Age 40-64. Total,Age 40-64,Total
886643,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 60+. Female,PRJ.MYS.60UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.10,13.30,13.50,13.60,13.70,13.90,NaN,Mean years of schooling. Age 60+. Female,Age 60+,Female
886644,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 60+. Male,PRJ.MYS.60UP.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.40,13.50,13.70,13.80,13.90,14.00,NaN,Mean years of schooling. Age 60+. Male,Age 60+,Male
886645,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 60+. Total,PRJ.MYS.60UP.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.20,13.40,13.50,13.70,13.80,13.90,NaN,Mean years of schooling. Age 60+. Total,Age 60+,Total
886646,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 65+. Female,PRJ.MYS.65UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,12.90,13.20,13.40,13.50,13.70,13.80,NaN,Mean years of schooling. Age 65+. Female,Age 65+,Female
886647,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 65+. Male,PRJ.MYS.65UP.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,13.30,13.50,13.60,13.70,13.80,13.90,NaN,Mean years of schooling. Age 65+. Male,Age 65+,Male
886648,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 65+. Total,PRJ.MYS.65UP.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.10,13.30,13.50,13.60,13.70,13.80,NaN,Mean years of schooling. Age 65+. Total,Age 65+,Total
886649,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 80+. Female,PRJ.MYS.80UP.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,12.30,12.60,12.90,13.20,13.40,13.60,NaN,Mean years of schooling. Age 80+. Female,Age 80+,Female
886650,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 80+. Male,PRJ.MYS.80UP.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,12.90,13.20,13.40,13.50,13.60,13.70,NaN,Mean years of schooling. Age 80+. Male,Age 80+,Male
886651,Zimbabwe,ZWE,Wittgenstein Projection: Mean years of schooling. Age 80+. Total,PRJ.MYS.80UP.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,12.50,12.80,13.10,13.30,13.50,13.60,NaN,Mean years of schooling. Age 80+. Total,Age 80+,Total