# Relation of schooling years to education

In this notebook we will analyze the correlation between years of education and the proficiency in certain skills.

First we will load all the data and extract the relevant indicators (see notebook `11` for details):

In [58]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
from matplotlib import pyplot as plt
import edstats_utils as edstats
%matplotlib inline

# some pandas options
pd.set_option('display.max_colwidth', -1)

datapath = "./datasets/edstats"
df_country = pd.read_csv(os.path.join(datapath, "EdStatsCountry.csv"))
df_data = pd.read_csv(os.path.join(datapath, "EdStatsData.csv"))
df_series = pd.read_csv(os.path.join(datapath, "EdStatsSeries.csv"))
df_note = pd.read_csv(os.path.join(datapath, "EdStatsFootNote.csv"))
df_cseries = pd.read_csv(os.path.join(datapath, "EdStatsCountry-Series.csv"))

In [2]:
# list of total wittgenstein projection indicators
list_witt_total = edstats.list_indicators('Population in .* highest level .* Total', df_data)
#list_witt_total = ['PRJ.POP.ALL.S1.MF', 'PRJ.POP.ALL.1.MF', 'PRJ.POP.ALL.2.MF', 'PRJ.POP.ALL.3.MF', 'PRJ.POP.ALL.4.MF', 'PRJ.POP.ALL.NED.MF']
list_witt_total

['PRJ.POP.ALL.S1.MF',
 'PRJ.POP.ALL.2.MF',
 'PRJ.POP.ALL.NED.MF',
 'PRJ.POP.ALL.4.MF',
 'PRJ.POP.ALL.1.MF',
 'PRJ.POP.ALL.3.MF']

In [8]:
def _retrieve_indicator(df, reg_str):
    '''Retrieve all datapoints that contain the given indicator regex string.'''
    # retireve list of relevant indicator codes
    ls_inds = df[df['Indicator Name'].str.contains(reg_str, regex=True, case=False)]['Indicator Code'].tolist()
    # extract all relevant items
    return df[df['Indicator Code'].isin(ls_inds)]

In [73]:
df_skill = _retrieve_indicator(df_data, 'PIAAC: .* proficiency level')
    
    # extract columns
df_skill_groups = df_skill['Indicator Name'].str.extract('PIAAC: (?P<indicator>(?P<gender>(Male|Female))?[ ]*(?P<type>Young)?[ ]*[aA]dults by .*?(?P<subject>((?<=proficiency level in ).*|.*(?= proficiency level))).*? \(%\). (?P<level>[\S ]+))', expand=True)
pd.concat([df_skill, df_skill_groups[['indicator', 'gender', 'type', 'subject', 'level']].fillna({'gender': 'Total', 'type': 'all'})], axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2085,2090,2095,2100,Unnamed: 69,indicator,gender,type,subject,level
2085,Arab World,ARB,PIAAC: Adults by literacy proficiency level (%). Below Level 1,LO.PIAAC.LIT.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by literacy proficiency level (%). Below Level 1,Total,all,literacy,Below Level 1
2086,Arab World,ARB,PIAAC: Adults by literacy proficiency level (%). Level 1,LO.PIAAC.LIT.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by literacy proficiency level (%). Level 1,Total,all,literacy,Level 1
2087,Arab World,ARB,PIAAC: Adults by literacy proficiency level (%). Level 2,LO.PIAAC.LIT.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by literacy proficiency level (%). Level 2,Total,all,literacy,Level 2
2088,Arab World,ARB,PIAAC: Adults by literacy proficiency level (%). Level 3,LO.PIAAC.LIT.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by literacy proficiency level (%). Level 3,Total,all,literacy,Level 3
2089,Arab World,ARB,PIAAC: Adults by literacy proficiency level (%). Level 4,LO.PIAAC.LIT.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by literacy proficiency level (%). Level 4,Total,all,literacy,Level 4
2090,Arab World,ARB,PIAAC: Adults by literacy proficiency level (%). Level 5,LO.PIAAC.LIT.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by literacy proficiency level (%). Level 5,Total,all,literacy,Level 5
2091,Arab World,ARB,PIAAC: Adults by numeracy proficiency level (%). Below Level 1,LO.PIAAC.NUM.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by numeracy proficiency level (%). Below Level 1,Total,all,numeracy,Below Level 1
2092,Arab World,ARB,PIAAC: Adults by numeracy proficiency level (%). Level 1,LO.PIAAC.NUM.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by numeracy proficiency level (%). Level 1,Total,all,numeracy,Level 1
2093,Arab World,ARB,PIAAC: Adults by numeracy proficiency level (%). Level 2,LO.PIAAC.NUM.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by numeracy proficiency level (%). Level 2,Total,all,numeracy,Level 2
2094,Arab World,ARB,PIAAC: Adults by numeracy proficiency level (%). Level 3,LO.PIAAC.NUM.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by numeracy proficiency level (%). Level 3,Total,all,numeracy,Level 3
2095,Arab World,ARB,PIAAC: Adults by numeracy proficiency level (%). Level 4,LO.PIAAC.NUM.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by numeracy proficiency level (%). Level 4,Total,all,numeracy,Level 4
2096,Arab World,ARB,PIAAC: Adults by numeracy proficiency level (%). Level 5,LO.PIAAC.NUM.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by numeracy proficiency level (%). Level 5,Total,all,numeracy,Level 5
2097,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,LO.PIAAC.TEC.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,Total,all,problem solving in technology-rich environments,Below Level 1
2098,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Failed the ICT Core Test,LO.PIAAC.TEC.FAIL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). Failed the ICT Core Test,Total,all,problem solving in technology-rich environments,Failed the ICT Core Test
2099,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 1,LO.PIAAC.TEC.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). Level 1,Total,all,problem solving in technology-rich environments,Level 1
2100,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 2,LO.PIAAC.TEC.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). Level 2,Total,all,problem solving in technology-rich environments,Level 2
2101,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Level 3,LO.PIAAC.TEC.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). Level 3,Total,all,problem solving in technology-rich environments,Level 3
2102,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). No computer experience,LO.PIAAC.TEC.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). No computer experience,Total,all,problem solving in technology-rich environments,No computer experience
2103,Arab World,ARB,PIAAC: Adults by proficiency level in problem solving in technology-rich environments (%). Opted out of computer-based assessment,LO.PIAAC.TEC.OPT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Adults by proficiency level in problem solving in technology-rich environments (%). Opted out of computer-based assessment,Total,all,problem solving in technology-rich environments,Opted out of computer-based assessment
2125,Arab World,ARB,PIAAC: Female adults by literacy proficiency level (%). Below Level 1,LO.PIAAC.LIT.FE.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by literacy proficiency level (%). Below Level 1,Female,all,literacy,Below Level 1
2126,Arab World,ARB,PIAAC: Female adults by literacy proficiency level (%). Level 1,LO.PIAAC.LIT.FE.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by literacy proficiency level (%). Level 1,Female,all,literacy,Level 1
2127,Arab World,ARB,PIAAC: Female adults by literacy proficiency level (%). Level 2,LO.PIAAC.LIT.FE.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by literacy proficiency level (%). Level 2,Female,all,literacy,Level 2
2128,Arab World,ARB,PIAAC: Female adults by literacy proficiency level (%). Level 3,LO.PIAAC.LIT.FE.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by literacy proficiency level (%). Level 3,Female,all,literacy,Level 3
2129,Arab World,ARB,PIAAC: Female adults by literacy proficiency level (%). Level 4 & 5,LO.PIAAC.LIT.FE.45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by literacy proficiency level (%). Level 4 & 5,Female,all,literacy,Level 4 & 5
2130,Arab World,ARB,PIAAC: Female adults by numeracy proficiency level (%). Below Level 1,LO.PIAAC.NUM.FE.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by numeracy proficiency level (%). Below Level 1,Female,all,numeracy,Below Level 1
2131,Arab World,ARB,PIAAC: Female adults by numeracy proficiency level (%). Level 1,LO.PIAAC.NUM.FE.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by numeracy proficiency level (%). Level 1,Female,all,numeracy,Level 1
2132,Arab World,ARB,PIAAC: Female adults by numeracy proficiency level (%). Level 2,LO.PIAAC.NUM.FE.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by numeracy proficiency level (%). Level 2,Female,all,numeracy,Level 2
2133,Arab World,ARB,PIAAC: Female adults by numeracy proficiency level (%). Level 3,LO.PIAAC.NUM.FE.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by numeracy proficiency level (%). Level 3,Female,all,numeracy,Level 3
2134,Arab World,ARB,PIAAC: Female adults by numeracy proficiency level (%). Level 4 & 5,LO.PIAAC.NUM.FE.45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by numeracy proficiency level (%). Level 4 & 5,Female,all,numeracy,Level 4 & 5
2135,Arab World,ARB,PIAAC: Female adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,LO.PIAAC.TEC.FE.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,Female,all,problem solving in technology-rich environments,Below Level 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885406,Zimbabwe,ZWE,PIAAC: Male adults by literacy proficiency level (%). Level 1,LO.PIAAC.LIT.MA.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by literacy proficiency level (%). Level 1,Male,all,literacy,Level 1
885407,Zimbabwe,ZWE,PIAAC: Male adults by literacy proficiency level (%). Level 2,LO.PIAAC.LIT.MA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by literacy proficiency level (%). Level 2,Male,all,literacy,Level 2
885408,Zimbabwe,ZWE,PIAAC: Male adults by literacy proficiency level (%). Level 3,LO.PIAAC.LIT.MA.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by literacy proficiency level (%). Level 3,Male,all,literacy,Level 3
885409,Zimbabwe,ZWE,PIAAC: Male adults by literacy proficiency level (%). Level 4 & 5,LO.PIAAC.LIT.MA.45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by literacy proficiency level (%). Level 4 & 5,Male,all,literacy,Level 4 & 5
885410,Zimbabwe,ZWE,PIAAC: Male adults by numeracy proficiency level (%). Below Level 1,LO.PIAAC.NUM.MA.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by numeracy proficiency level (%). Below Level 1,Male,all,numeracy,Below Level 1
885411,Zimbabwe,ZWE,PIAAC: Male adults by numeracy proficiency level (%). Level 1,LO.PIAAC.NUM.MA.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by numeracy proficiency level (%). Level 1,Male,all,numeracy,Level 1
885412,Zimbabwe,ZWE,PIAAC: Male adults by numeracy proficiency level (%). Level 2,LO.PIAAC.NUM.MA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by numeracy proficiency level (%). Level 2,Male,all,numeracy,Level 2
885413,Zimbabwe,ZWE,PIAAC: Male adults by numeracy proficiency level (%). Level 3,LO.PIAAC.NUM.MA.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by numeracy proficiency level (%). Level 3,Male,all,numeracy,Level 3
885414,Zimbabwe,ZWE,PIAAC: Male adults by numeracy proficiency level (%). Level 4 & 5,LO.PIAAC.NUM.MA.45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by numeracy proficiency level (%). Level 4 & 5,Male,all,numeracy,Level 4 & 5
885415,Zimbabwe,ZWE,PIAAC: Male adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,LO.PIAAC.TEC.MA.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,Male,all,problem solving in technology-rich environments,Below Level 1
885416,Zimbabwe,ZWE,PIAAC: Male adults by proficiency level in problem solving in technology-rich environments (%). Level 1,LO.PIAAC.TEC.MA.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by proficiency level in problem solving in technology-rich environments (%). Level 1,Male,all,problem solving in technology-rich environments,Level 1
885417,Zimbabwe,ZWE,PIAAC: Male adults by proficiency level in problem solving in technology-rich environments (%). Level 2,LO.PIAAC.TEC.MA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by proficiency level in problem solving in technology-rich environments (%). Level 2,Male,all,problem solving in technology-rich environments,Level 2
885418,Zimbabwe,ZWE,PIAAC: Male adults by proficiency level in problem solving in technology-rich environments (%). Level 3,LO.PIAAC.TEC.MA.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by proficiency level in problem solving in technology-rich environments (%). Level 3,Male,all,problem solving in technology-rich environments,Level 3
885419,Zimbabwe,ZWE,PIAAC: Male adults by proficiency level in problem solving in technology-rich environments (%). No computer experience or failed the ICT core test,LO.PIAAC.TEC.MA.FAILNO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male adults by proficiency level in problem solving in technology-rich environments (%). No computer experience or failed the ICT core test,Male,all,problem solving in technology-rich environments,No computer experience or failed the ICT core test
885432,Zimbabwe,ZWE,PIAAC: Young adults by literacy proficiency level (%). Below Level 1,LO.PIAAC.LIT.YOU.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by literacy proficiency level (%). Below Level 1,Total,Young,literacy,Below Level 1
885433,Zimbabwe,ZWE,PIAAC: Young adults by literacy proficiency level (%). Level 1,LO.PIAAC.LIT.YOU.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by literacy proficiency level (%). Level 1,Total,Young,literacy,Level 1
885434,Zimbabwe,ZWE,PIAAC: Young adults by literacy proficiency level (%). Level 2,LO.PIAAC.LIT.YOU.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by literacy proficiency level (%). Level 2,Total,Young,literacy,Level 2
885435,Zimbabwe,ZWE,PIAAC: Young adults by literacy proficiency level (%). Level 3,LO.PIAAC.LIT.YOU.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by literacy proficiency level (%). Level 3,Total,Young,literacy,Level 3
885436,Zimbabwe,ZWE,PIAAC: Young adults by literacy proficiency level (%). Level 4 & 5,LO.PIAAC.LIT.YOU.45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by literacy proficiency level (%). Level 4 & 5,Total,Young,literacy,Level 4 & 5
885437,Zimbabwe,ZWE,PIAAC: Young adults by numeracy proficiency level (%). Below Level 1,LO.PIAAC.NUM.YOU.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by numeracy proficiency level (%). Below Level 1,Total,Young,numeracy,Below Level 1
885438,Zimbabwe,ZWE,PIAAC: Young adults by numeracy proficiency level (%). Level 1,LO.PIAAC.NUM.YOU.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by numeracy proficiency level (%). Level 1,Total,Young,numeracy,Level 1
885439,Zimbabwe,ZWE,PIAAC: Young adults by numeracy proficiency level (%). Level 2,LO.PIAAC.NUM.YOU.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by numeracy proficiency level (%). Level 2,Total,Young,numeracy,Level 2
885440,Zimbabwe,ZWE,PIAAC: Young adults by numeracy proficiency level (%). Level 3,LO.PIAAC.NUM.YOU.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by numeracy proficiency level (%). Level 3,Total,Young,numeracy,Level 3
885441,Zimbabwe,ZWE,PIAAC: Young adults by numeracy proficiency level (%). Level 4 & 5,LO.PIAAC.NUM.YOU.45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by numeracy proficiency level (%). Level 4 & 5,Total,Young,numeracy,Level 4 & 5
885442,Zimbabwe,ZWE,PIAAC: Young adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,LO.PIAAC.TEC.YOU.BE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by proficiency level in problem solving in technology-rich environments (%). Below Level 1,Total,Young,problem solving in technology-rich environments,Below Level 1
885443,Zimbabwe,ZWE,PIAAC: Young adults by proficiency level in problem solving in technology-rich environments (%). Level 1,LO.PIAAC.TEC.YOU.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by proficiency level in problem solving in technology-rich environments (%). Level 1,Total,Young,problem solving in technology-rich environments,Level 1
885444,Zimbabwe,ZWE,PIAAC: Young adults by proficiency level in problem solving in technology-rich environments (%). Level 2,LO.PIAAC.TEC.YOU.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by proficiency level in problem solving in technology-rich environments (%). Level 2,Total,Young,problem solving in technology-rich environments,Level 2
885445,Zimbabwe,ZWE,PIAAC: Young adults by proficiency level in problem solving in technology-rich environments (%). Level 3,LO.PIAAC.TEC.YOU.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by proficiency level in problem solving in technology-rich environments (%). Level 3,Total,Young,problem solving in technology-rich environments,Level 3
885446,Zimbabwe,ZWE,PIAAC: Young adults by proficiency level in problem solving in technology-rich environments (%). No computer experience or failed the ICT core test,LO.PIAAC.TEC.YOU.FAILNO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by proficiency level in problem solving in technology-rich environments (%). No computer experience or failed the ICT core test,Total,Young,problem solving in technology-rich environments,No computer experience or failed the ICT core test
885447,Zimbabwe,ZWE,PIAAC: Young adults by proficiency level in problem solving in technology-rich environments (%). Opted out of computer-based assessment,LO.PIAAC.TEC.YOU.OPT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Young adults by proficiency level in problem solving in technology-rich environments (%). Opted out of computer-based assessment,Total,Young,problem solving in technology-rich environments,Opted out of computer-based assessment

In [53]:
df = pd.concat([df_witt, df_witt_groups[['indicator', 'age_group', 'gender']]], axis=1)
#df_witt_groups

# generate a list of data
years = list(range(1970, 2018)) + list(range(2020, 2101, 5))
rm = ['2010', '2015']
years = [str(y) for y in years if str(y) not in rm]
# drop the irrelevant years
df.drop(years, axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2015,Unnamed: 69,indicator,age_group,gender
3349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 0-19. Female,Age 0-19,Female
3350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 0-19. Male,Age 0-19,Male
3351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 0-19. Total,Age 0-19,Total
3352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15+. Female,Age 15+,Female
3353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean Years of Schooling. Age 15+. Gender Gap,Age 15+,Gender Gap
3354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15+. Male,Age 15+,Male
3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15+. Total,Age 15+,Total
3356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15-19. Female,Age 15-19,Female
3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15-19. Male,Age 15-19,Male
3358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 15-19. Total,Age 15-19,Total
3359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-24. Female,Age 20-24,Female
3360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-24. Male,Age 20-24,Male
3361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-24. Total,Age 20-24,Total
3362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-39. Female,Age 20-39,Female
3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-39. Male,Age 20-39,Male
3364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-39. Total,Age 20-39,Total
3365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-64. Female,Age 20-64,Female
3366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-64. Male,Age 20-64,Male
3367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 20-64. Total,Age 20-64,Total
3368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25+. Female,Age 25+,Female
3369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean Years of Schooling. Age 25+. Gender Gap,Age 25+,Gender Gap
3370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25+. Male,Age 25+,Male
3371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25+. Total,Age 25+,Total
3372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25-29. Female,Age 25-29,Female
3373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25-29. Male,Age 25-29,Male
3374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 25-29. Total,Age 25-29,Total
3375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 40-64. Female,Age 40-64,Female
3376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 40-64. Male,Age 40-64,Male
3377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 40-64. Total,Age 40-64,Total
3378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mean years of schooling. Age 60+. Female,Age 60+,Female
...,...,...,...,...,...,...,...,...,...,...
886892,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. No Education. Female,PRJ.POP.2529.NED.FE,4.29,2.40,NaN,NaN,NaN,NaN
886893,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. No Education. Male,PRJ.POP.2529.NED.MA,3.79,2.11,NaN,NaN,NaN,NaN
886894,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. No Education. Total,PRJ.POP.2529.NED.MF,8.08,4.51,NaN,NaN,NaN,NaN
886895,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Post Secondary. Female,PRJ.POP.2529.4.FE,29.55,36.02,NaN,NaN,NaN,NaN
886896,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Post Secondary. Male,PRJ.POP.2529.4.MA,47.16,54.01,NaN,NaN,NaN,NaN
886897,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Post Secondary. Total,PRJ.POP.2529.4.MF,76.71,90.03,NaN,NaN,NaN,NaN
886898,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Primary. Female,PRJ.POP.2529.1.FE,118.86,98.69,NaN,NaN,NaN,NaN
886899,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Primary. Male,PRJ.POP.2529.1.MA,92.06,71.87,NaN,NaN,NaN,NaN
886900,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Primary. Total,PRJ.POP.2529.1.MF,210.92,170.56,NaN,NaN,NaN,NaN
886901,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Upper Secondary. Female,PRJ.POP.2529.3.FE,324.72,390.07,NaN,NaN,NaN,NaN
886902,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Upper Secondary. Male,PRJ.POP.2529.3.MA,343.05,376.31,NaN,NaN,NaN,NaN
886903,Zimbabwe,ZWE,Wittgenstein Projection: Population age 25-29 in thousands by highest level of educational attainment. Upper Secondary. Total,PRJ.POP.2529.3.MF,667.77,766.38,NaN,NaN,NaN,NaN
886904,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Incomplete Primary. Female,PRJ.POP.ALL.S1.FE,571.23,468.08,NaN,NaN,NaN,NaN
886905,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Incomplete Primary. Male,PRJ.POP.ALL.S1.MA,368.79,286.19,NaN,NaN,NaN,NaN
886906,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Incomplete Primary. Total,PRJ.POP.ALL.S1.MF,940.03,754.27,NaN,NaN,NaN,NaN
886907,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Lower Secondary. Female,PRJ.POP.ALL.2.FE,743.59,772.01,NaN,NaN,NaN,NaN
886908,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Lower Secondary. Male,PRJ.POP.ALL.2.MA,662.61,664.10,NaN,NaN,NaN,NaN
886909,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Lower Secondary. Total,PRJ.POP.ALL.2.MF,1406.20,1436.11,NaN,NaN,NaN,NaN
886910,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Female,PRJ.POP.ALL.NED.FE,299.29,234.92,NaN,NaN,NaN,NaN
886911,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Male,PRJ.POP.ALL.NED.MA,109.81,78.02,NaN,NaN,NaN,NaN
886912,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Total,PRJ.POP.ALL.NED.MF,409.11,312.94,NaN,NaN,NaN,NaN
886913,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Post Secondary. Female,PRJ.POP.ALL.4.FE,106.88,135.18,NaN,NaN,NaN,NaN
886914,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Post Secondary. Male,PRJ.POP.ALL.4.MA,197.61,234.94,NaN,NaN,NaN,NaN
886915,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Post Secondary. Total,PRJ.POP.ALL.4.MF,304.50,370.12,NaN,NaN,NaN,NaN
886916,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Primary. Female,PRJ.POP.ALL.1.FE,815.28,752.87,NaN,NaN,NaN,NaN
886917,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Primary. Male,PRJ.POP.ALL.1.MA,799.57,721.56,NaN,NaN,NaN,NaN
886918,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Primary. Total,PRJ.POP.ALL.1.MF,1614.84,1474.43,NaN,NaN,NaN,NaN
886919,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Female,PRJ.POP.ALL.3.FE,1401.82,1722.96,NaN,NaN,NaN,NaN
886920,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Male,PRJ.POP.ALL.3.MA,1608.65,1873.55,NaN,NaN,NaN,NaN
886921,Zimbabwe,ZWE,Wittgenstein Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Total,PRJ.POP.ALL.3.MF,3010.47,3596.51,NaN,NaN,NaN,NaN